.DS_Store
.vscode/
output/output_grid.exe
build/
_skbuild/
adani.egg-info/
examples/test.exe
output/results
output/*.dat
inc/adani/version.h
bin/adani-config
bin/adani.pc

docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.synctex.gz

dist/
MANIFEST.in

env/
venv/

tests/__pycache__/
