.DS_Store
.vscode/
output/output_grid.exe
build/
_skbuild/
oldadani.egg-info/
examples/test.exe
output/results
output/*.dat
inc/oldadani/version.h
bin/oldadani-config
bin/oldadani.pc

docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.synctex.gz

dist/
MANIFEST.in
